body {
    font-family: 'Roboto', sans-serif;
     font-weight: Regular ;
     font-size: 16px;
     font-style: normal;

.link {
    text-decoration: none;
     }
.list {
    list-style-type:none;

}
}
.header {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
}
.header-logo {
    color: #4D5AE5;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1,16; 
        letter-spacing: -0,03em; 
        text-transform: uppercase;
}
.header-logo-studio {
    color: #2E2F42;
}
.header-menu-link {
    color:#2E2F42;
        /* Body Medium */
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1,3;
        letter-spacing: 0,02em;
}
.header-address-link {
    color:#434455;
        /* Body */
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.effective {
    background: var(--navyblue, #2E2F42);
}
.section2 {
    background: #FFF;
}
.section-ourteam {
    background: var(--cloud, #F4F4FD);
}
.h1 {
    color:#FFF;
        text-align: center;
        /* Header 1 */
        font-size: 56px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
}
.button-orderservice {
    border-radius: 4px;
        background: var(--iris, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--white, #FFF);
            /* Button Text */
            font-size: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
}
.h2 {
    color: var(--navyblue, #2E2F42);
        text-align: center;
        /* Header 2 */
        font-size: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.h3 {
    color: var(--navyblue, #2E2F42);
        /* Header 3 */
        font-size: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}
.p {
    color: var(--slate, #434455);
        /* Body */
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.p-footer {
color: var(--cloud, #F4F4FD);

    /* Body */
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
.footer {
    background: var(--navyblue, #2E2F42);
}
.footer-logo-studio {
    color: var(--cloud, #F4F4FD);
        font-size: 18px;
        font-family: Raleway;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}









.potfolio-button {
    border-radius: 4px;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--cloud, #F4F4FD);
        color: var(--iris, #4D5AE5);
            text-align: center;
            /* Button Text */
            font-size: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
}
.potfolio-button:hover,
.potfolio-button:focus
 {
    border-radius: 4px;
        background: var(--ocean, #404BBF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        color: var(--white, #FFF);
            text-align: center;
            /* Button Text */
            font-size: 16px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.64px;
    }